html,body{
  width:100%;
  height:100%;
}

body{
  line-height: 1.5;
  font-size: 100%;
  font-family: 'Lato','Helvetica Neueu', Helvetica, Arial, sans-serif;
}
.contenedor{
  font-size:1em;
  padding:2em 7em 5em 7em;
  letter-spacing:0.01em;
  word-spacing:0.02em;
}

@media all and (orientation: portrait) {
.contenedor{padding:2em;}
}

.contenedor img{width: 100%; height:auto;}
h1,h2,h3,h4,p{font-weight:400;}
h5,h6,strong,b{font-weight:700;}
p, h6{font-size:1,1em;}
h5{font-size:1.2em;}
h4{font-size:1.3em;}
h3{font-size:1.5em;}
h2{font-size:1.8em;}
h1{font-size:2.3em;}

hr{border:2px solid #ddd; margin-top:10em;}

figure{
  margin:0;
  padding:0.3em;
  background:#eee;
  box-shadow: inset 0 0 0.6em rgba(0,0,0,0.25);
  color:rgb(100,100,100);
}

figure figcaption{padding:0.25em; font-size:80%;}

a{color:rgb(255,0,0);}
